/* RESERVIA PHONE CSS */

/* CHARGEMENT DES POLICES */
@font-face {
  font-family: "Raleway-Regular";
  src: url("fonts/Raleway-Regular.ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("fonts/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}


/* MISE EN FORME GENERALE */

/* h1{         border: 1px solid green;} */
/* h2{         border: 1px solid yellow} */
/* nav{        border: 2px solid purple;} */
/* header{     border: 1px solid black;} */
/* footer{     border: 1px solid black;} */
/* form{       border: 1px solid limegreen;} */
/* a{          border: 1px solid red;} */
/* div{        border: 1px solid blue;} */

/* Les couleurs de la charte sont le bleu #0065FC,
et sa version plus claire #DEEBFF
ainsi que le gris pour le fond #F2F2F2. */

body {
  font-family: "Raleway-Regular";
  color: green;
  margin: 0;
}

#landing {
  /* max-width: 720px; */
  margin: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~   HEADER   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h2 {
  font-family: "Raleway-Bold";
  font-size: 22px;
}

p {
  margin-top: 7px;
  margin-bottom: 0px;
}

a {
  color: black;
  text-decoration: none;
}


nav {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  flex-wrap: wrap;
  text-align: center;
}
.logo{
  margin-top: 33px;
  margin-left: 25px;
text-align: start;
justify-self: flex-start;
/* flex: 1; */
}
.ancre_block{
  /* border: 1px solid green; */
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 290px;
  order:3;
}
.ancre{
  flex: 1;
  padding-top: 40px;
  padding-bottom: 15px;
  align-self:center;
  border-bottom: 3px solid #f2f2f2;
}
.ancre:hover{
border-bottom: 3px solid #0065fc;
  color: #0065fc;
  font-weight: bold;
  /* font-size: 15px; */
}

.links {
  padding-top: 40px;
  height: 20px;
  width: 145px;
  /* background-color: aquamarine; */
}


.signin {
  color: #0065fc;
  font-family: "Raleway-Bold";
  justify-self:right ;
  /* a prévoir pour phone css : */
  width: 100px;
  margin-right: 50px;
  padding-top: 48px;
}
.signin:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  font-weight: bold;
  font-size: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~   PARTIE HAUTE : DIV SEARCH SECTION   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#search_section {
  /* border: 1px solid rgb(225, 0, 255); */
  margin-left: 20px;
  margin-right: 20px;
  min-width: 375px;
}

#search_section h2 {
  margin-top: 30px;
  margin-bottom: 0;
}

form {
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
}

form p {
  display: inline-block;
  font-family: "Raleway-Bold";
}

input {
  border: none;
  font-size: 18px;
  font-family: "Raleway-Bold";
}
.pin {
  display: inline;
  height: 17px;
  background-color: #f2f2f2;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px 0 0 15px;
  margin-right: 0;
}
#city {
  display: inline;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin-left: -5px;
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 235px;
}
#btn {
  visibility: hidden;
}
#magnif{
  display: inline;
  color: white;
  background-color: #0065fc;
  margin-left: -15px;
  margin-right: 0;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
}
#magnif:active{
  color: #0065fc;
  background-color: #deebff;
}

.label_filters {
  display: inline-block;
  margin-right: 300px;
  margin-left: 8px;
  margin-bottom: 0px;
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.selector {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 0;
  border-radius: 24px;
  height: 48px;
}
.selector:active{
  color: #0065fc;
}

.ico {
  position: sticky;
  width: 48px;
  height: 33px;
  padding-top: 15px;
  margin-top: auto;
  border-radius: 24px;
  color: #0065fc;
  background-color: #deebff;
  text-align: center;
}

.selector i + p {
  border-radius: 24px;
  border-top: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-right: 15px;
  padding-left: 55px;
  margin-left: -50px;
  margin-top: 0;
}

.comments {
  display: inline-block;
  margin-left: 10px;
}
.info {
  font-size: 11px;
  color: #0065fc;
  border: 1px solid #bebebe;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: -5px;
  border-radius: 12px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~   PARTIE CENTRALE : DIV ACCOMODATIONS   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#accomodations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  /* justify-content: space-between; */
  justify-content:center;

  margin-top: 40px;
  margin-bottom: 0px;
}

#left_block {
  /* border: 1px solid red; */
  flex: 2.5;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-right: 0px;
  max-width: 990px;
}
#left_block h2{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#in_town {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  /* align-items: flex-start; */

}

.in_town {
  display: block;
  border: 5px solid white;
  border-radius: 20px;
  height: 185px;
  width: 323px;

  position: relative;
  box-shadow: 0px 5px 15px rgb(229, 229, 229);
  
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.in_town img {
  border-radius: 15px 15px 0 0;
  height: 165px;
  width: 323px;
  object-fit: fill;
}

.bottom_stripe {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding-left: 0px;
  border-radius: 0 0 15px 15px;
}

.bottom_stripe > p {
  margin-left: 10px;
}

.bottom_stripe > p:first-child {
  font-family: "Raleway-Bold";
  font-size: 16px;
}

.pricing{
  font-size: 14px;
}

.stars1 {
  font-size: 11px;
  margin-bottom: 4px;
}

.show_more {
  display: block;
  font-size: 18px;
  font-family: "Raleway-Bold";

  padding: 10px;
  border-radius: 23px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;

}
.show_more:active{
  color: #0065fc;
}

#right_block {
  flex: 1;
  padding-top: 10px;
  /* padding-left: 30px;
  padding-right: 30px; */
}

#right_block h2{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.fa-chart-line {
  float: right;
  height: 24px;
}

#most_pop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: space-around;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.most_pop {
  border: 5px solid white;
  border-radius: 20px;
  height: 130px;
  width: 323px;

  position: relative;
  box-shadow: 0px 8px 20px lightgrey;

  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
.most_pop img {
  display: inline;
  border-radius: 15px 0 0 15px;
  height: 130px;
  width: 200px;
  object-fit: cover;
}

.right_stripe {
  position: absolute;
  display: inline;
  background-color: white;
  height: 100%;
  width: 180px;
  border-radius: 0 15px 15px 0;
  margin-left: -57px;
}

.right_stripe > p {
  margin-top: 10px;
  margin-left: 20px;
}

.right_stripe > p:first-child {
  font-family: "Raleway-Bold";
  font-size: 16px;
  width: 175px;
  height: auto;
  max-height: 3.5em;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stars2 {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~   PARTIE BASSE : DIV ACTIVITIES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#activities{
  max-width: 550px;
}
#activities h2{
  margin-left: 20px;
}

#act_view_all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  margin-bottom: 20px;
}
.activities_panel {
  display: block;
  /* margin-bottom: 30px; */
}

.activity {
  display: block;
  border-radius: 20px;
  height: 195px;
  width: 323px;
  box-shadow: 0px 8px 20px lightgray;
  margin-bottom: 15px;
  margin-top: 10px;
}

.activity img {
  display: block;
  height: 140px;
  width: 323px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}


.activities_panel p {
  display: block;
  font-family: "Raleway-Bold";
  background-color: rgba(0, 0, 0, 0);
  height: 40px;
  border-radius: 0 0 20px 20px;
  margin-top: 0;
  padding-top: 20px;
  padding-left: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~   FOOTER   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer div {
  margin-left: 4%;
  margin-right: 15%;
}
footer h2 {
  font-size: 18px;
}
footer ul {
  padding: 0;
}
footer li {
  font-size: 16px;
  margin-bottom: 11px;
  margin-left: 0;
  list-style: none;
}

/* MISE EN PAGE PAR CLASSES NON SPECIFIQUES*/

.round_grey:last-child {
  background-color: #f2f2f2;
}

.lightblue_hover:hover {
  background-color: #deebff;
}

.show_red {
  background-color: rgba(255, 0, 0, 0.5);
}
.show_blue {
  background-color: rgba(0, 0, 255, 0.3);
  color: blue;
}
.show_green {
  background-color: rgba(0, 255, 0, 0.5);
}

.inline {
  display: inline;
}
.block {
  display: block;
}

.blue {
  color: #0065fc;
}
.grey {
  color: lightgray;
}
