/* RESERVIA RESPONSIVE CSS */

/* CHARGEMENT DES POLICES */
@font-face {
  font-family: "Raleway-Regular";
  src: url("fonts/Raleway-Regular.ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("fonts/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}


/* MISE EN FORME GENERALE */

/* h1{         border: 1px solid green;} */
/* h2{         border: 1px solid yellow} */
/* nav{        border: 2px solid purple;} */
/* header{     border: 1px solid black;} */
/* footer{     border: 1px solid black;} */
/* form{       border: 1px solid limegreen;} */
/* a{          border: 1px solid red;} */
/* div{        border: 1px solid blue;} */

/* Les couleurs de la charte sont le bleu #0065FC,
et sa version plus claire #DEEBFF
ainsi que le gris pour le fond #F2F2F2. */


/* ######################################## GENERAL ####################################### */

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "Raleway-Regular";
}

#landing {
  max-width: 86.25rem;
  margin: auto;
}

h1, h1 i {
  font-family: "Raleway-Bold";
  font-size: 22px;
}

/* p {
  margin-top: 0;
  margin-bottom: 0;
} */

a {
  color: black;
  text-decoration: none;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~   HEADER   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.logo{
margin-top: 2.3125rem;
text-align: start;
flex: 1;
}

nav {
font-size: 16px;
display: flex;
flex-direction: row;
align-self: flex-start;
}
.ancre_block{
display: flex;
flex-direction: row;
align-content: flex-start;
}
.ancre{
flex: 1;
padding-top: 3rem;
padding-left: 2rem;
padding-right: 2rem;
padding-bottom: 1rem;
align-self:center;
border-top: 0.1875rem solid white;
}
.ancre:hover {
border-top: 0.1875rem solid #0065fc;
}

.signin {
margin-top: 2.1875rem;
padding-top: 1rem;
padding-left: 2rem;
padding-right: 2rem;
padding-bottom: 1rem;
/* background-color:  #deebff; */
color: #0065fc;
font-family: "Raleway-Bold";
border-radius: 0.5rem;
}
.signin:hover {
  color: white;
  background-color:  #0065fc;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~   PARTIE HAUTE : DIV SEARCH SECTION   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#search_section{
  margin-top: 2.125rem;
}

#search_section h1, #search_section h1 + p {
  margin-left: 0.1875rem;
}

#search_section h1 + p{
  margin-top: 0.5rem;
}

form {
font-family: "Raleway-Bold";
}

.input_line{
  margin-left: 0.25rem;
  margin-top: 1rem;
}

.input_line *{
  display: inline-block;
  padding: 1rem;
  line-height: 1.25rem;
  vertical-align: bottom;
}

input {
  border: none;
  font-size: 18px;
  font-family: inherit;
  line-height: inherit;
}

.pin {
width: 1.25rem;
text-align: center;
border-radius: 1rem 0 0 1rem;
background-color: #f2f2f2;
}

#city {
width: 235px;
height: 3.25rem;
border-top: 1px solid #f2f2f2;
border-bottom: 1px solid #f2f2f2;
margin-left: -0.25rem;
}

#btn {
color: white;
background-color: #0065fc;
margin-left: -0.25rem;
border-radius: 0 1rem 1rem 0;
border-color: #0065fc;
}
#btn:active{
color: #0065fc;
background-color: #deebff;
}
#magnif{
display: none;
}

.filters_line{
  margin-top: 1.875rem;
}

.filters_line *{
  display: inline-block;
  line-height: 2.875rem;
  vertical-align: bottom;
}

.filters_line div{
  margin-left: 0.75rem;
  margin-right: 1.25rem;
}
.filters_line p{
  font-size: 18px;
}

.selector {
border-radius: 1.57rem;
}
.selector:active{
color: #0065fc;
}

.ico {
position: sticky;
line-height: 3.125rem;
width: 3.125rem;
border-radius: 1.5625rem;
color: #0065fc;
background-color: #deebff;
text-align: center;
}

.selector p{
  margin-left: -3.35rem;
  padding-left: 4rem;
  padding-right: 1rem;
  border: 2px solid #d9d9d9;
  border-left: none;
  border-radius: 1.5625rem;
}


.comments {
display: inline-block;
margin-left: 0.5rem;
margin-top: 2rem;
}
.info {
font-size: 11px;
color: #0065fc;
border: 1px solid #bebebe;
text-align: center;
width: 1.3125rem;
line-height: 1.3125rem;
border-radius: 0.66rem;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~   PARTIE CENTRALE : DIV ACCOMODATIONS   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#accomodations {
display: flex;
flex-direction: row;
flex-wrap: wrap-reverse;
justify-content: space-between;

margin-top: 2.5rem;
margin-bottom: 2.375rem;
}

#left_block, #right_block {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}



#left_block {
flex: 1;
padding-top: 1.25rem;
}

#accomodations h1, #activities h1{
  margin-top: 1.375rem;
  margin-bottom: 1.375rem;
}


#in_town {
display: flex;
flex-direction: row;
flex-wrap: wrap;
max-width: 52.375rem;
justify-content: space-between;
align-items: flex-start;
}

.in_town {
border-radius: 1.3125rem;
width: 15.375rem;
height: 12.5rem;
background-color: white;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

margin-bottom: 1.875rem;
}

.in_town .img_container{
  height: 7.125rem;
  width: 14.75rem;
}

.in_town img {
border-radius: 1rem 1rem 0 0;
height: 100%;
width: 100%;
object-fit:cover ;
}

.bottom_stripe {
align-self: flex-start;
width: 13.75rem;
height: 4.75rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding-left: 1rem;
}

.bottom_stripe > p:first-child {
width: 14rem;
font-family: "Raleway-Bold";
font-size: 16px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.pricing *, .pricing{
font-size: 14px;
}

.quote i{
font-size: 12px;
}

.bottom_stripe .quote{
  display: flex;
}



.show_more {
display: block;
font-size: 18px;
font-family: "Raleway-Bold";
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}
.show_more:active{
color: #0065fc;
}



#right_block {
padding-top: 1.25rem;
width: 21.375rem;
margin-left: 2.5rem;
}

.fa-chart-line {
float: right;
line-height: 24px;
}

#most_pop {
display: flex;
flex-direction: column;
max-width: 21.25rem;
justify-content: space-evenly;
align-items: center;
}

.most_pop {
border-radius: 1.3125rem;
width: 100%;
height: 9rem;
background-color: white;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

margin-bottom: 1.875rem;
}

.most_pop .img_container{
  height: 8.375rem;
  width: 8rem;
}

.most_pop img {
border-radius: 1rem 0 0 1rem;
height: 100%;
width: 100%;
object-fit: cover;
}

.right_stripe {
height: 7.375rem;
width: 11.5rem;
border-radius: 0 1rem 1rem 0;
padding-left: 1.25rem;
padding-top: 1rem;
display: flex;
flex-direction: column;
justify-content: flex-start;
}


.right_stripe > p:first-child {
font-family: "Raleway-Bold";
font-size: 16px;
width: 11rem;
/* height: auto; */
max-height: 3.5rem;
white-space: normal;
overflow: hidden;
text-overflow: ellipsis;
}

.right_stripe p:nth-child(2){
  flex: 1;
  margin-top: .5rem;
}

.right_stripe .quote {
display: flex;
padding-bottom: 0.5rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~   PARTIE BASSE : DIV ACTIVITIES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#act_view_all {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
max-width: 86.25rem;
/* margin-bottom: 20px; */
}

.activities_panel {
display: block;
width: 22.5%;
min-width: 13rem;
}

.activity {
display: block;
border-radius: 1.5rem;
margin-bottom: 2.625rem;
}

.activity img {
display: block;
width: 100%;
object-fit: cover;
border-radius: 1rem 1rem 0 0;
}

.full_height {
height: 25.125rem;
}
.half_height {
height: 9.5rem;
}
.prct60_height {
height: 12rem;
}
.prct40_height {
height: 7rem;
}

.activities_panel p {
display: block;
font-family: "Raleway-Bold";
background-color: rgba(0, 0, 0, 0);
height: 3.5rem;
line-height: 3.5rem;
border-radius: 0 0 1rem 1rem;
padding-left: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~   FOOTER   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
background-color: #f2f2f2;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
padding-left: 3.5rem;
padding-top: 2rem;
padding-bottom: 2rem;
}
footer div {
margin-left: 4%;
margin-right: 15%;
}
footer h1 {
font-size: 18px;
margin-bottom: 0.75rem;
}
footer ul {
padding: 0;
}
footer li {
font-size: 16px;
margin-bottom: 0.75rem;
list-style: none;
}

/* MISE EN PAGE PAR CLASSES NON SPECIFIQUES*/

.round_grey {
background-color: #f2f2f2;
border-radius: 1rem;
}

.lightblue_hover:hover {
background-color: #deebff;
}

.shadow{
box-shadow: 0 0.5rem 1.5rem lightgray;
}

/* pour les étoiles */
.blue {
color: #0065fc;
}
.grey {
color: lightgray;
}


/* ####################   RESPONSIVE   ################ */  
@media screen and (max-width: 1048px) {

#left_block {
flex: 1;
}

.in_town {
display: block;
border: 5px solid white;
border-radius: 20px;
height: 185px;
width: 323px;

position: relative;
box-shadow: 0px 5px 15px rgb(229, 229, 229);

margin-bottom: 15px;
margin-left: 15px;
margin-right: 15px;
}

#right_block {
flex: 1;
padding-left: 30px;
padding-right: 30px;
}

.most_pop {
border: 5px solid white;
border-radius: 20px;
height: 144px;
width: 323px;

position: relative;
box-shadow: 0px 8px 20px lightgrey;

margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
}

#act_view_all {
  /* limitation à 2 colonnes pour les tailles intermédiaires */
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
}

#activities h2{
margin-left: 20px;
}

.activities_panel{
  width: 45%;
}

.round_grey {
background-color: #f2f2f2;
border-radius: 20px;
}

}

@media screen and (max-width: 796px) {
.round_grey {
background-color: #f2f2f2;
/* border-radius: 0px; */
}
}

@media screen and (max-width: 720px) {
#act_view_all {
/* limitation à 2 colonnes pour les tailles intermédiaires */
width: 350px;
margin: auto;
}


/* RETABLISSEMENT DES VALEUR PREVUES EN MAIN SAUF */
/* #act_view_all */

.links:hover {
border-top: 2px solid #0065fc;
padding-top: 48px;
color: #0065fc;
font-weight: bold;
font-size: 15px;
}
}

@media screen and (max-width: 550px){
nav {
width: 100%;
font-size: 16px;
display: flex;
flex-direction: row;
justify-content:space-between ;
flex-wrap: wrap;
text-align: center;
}


.logo{
margin-top: 33px;
margin-left: 25px;
text-align: start;
justify-self: flex-start;
}

.ancre_block{
display: flex;
flex: 1;
flex-direction: row;
width: 290px;
order:3;
}

.ancre{
flex: 1;
padding-top: 40px;
padding-bottom: 15px;
align-self:center;
border-bottom: 3px solid #f2f2f2;
}

.ancre:hover{
border-bottom: 3px solid #0065fc;
color: #0065fc;
font-weight: bold;
}

.links {
padding-top: 40px;
height: 20px;
width: 145px;
}
.links:hover{
border-top: none;
}

.signin {
color: #0065fc;
font-family: "Raleway-Bold";
justify-self:right ;
width: 100px;
margin-right: 50px;
padding-top: 48px;
}
.signin:hover {
border-top: 2px solid #0065fc;
color: #0065fc;
font-weight: bold;
font-size: 15px;
}

#search_section {
margin-left: 20px;
margin-right: 20px;
min-width: 375px;
}

form {
margin-top: 20px;
font-size: 18px;
width: 100%;
}

#btn {
visibility: hidden;
}

#magnif{
visibility: visible;
display: inline;
color: white;
background-color: #0065fc;
margin-left: -15px;
margin-right: 0;
padding-left: 17px;
padding-right: 17px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 15px;
}
#magnif:active{
color: #0065fc;
background-color: #deebff;
}

.label_filters {
display: inline-block;
margin-right: 300px;
margin-left: 8px;
margin-bottom: 0px;
margin-top: 25px;
padding-top: 20px;
padding-bottom: 20px;
}

.selector {
display: inline-block;
font-size: 16px;
margin-right: 5px;
margin-left: 5px;
margin-top: 0px;
margin-bottom: 15px;
padding-top: 0;
border-radius: 24px;
height: 48px;
}

#accomodations {
display: flex;
flex-direction: row;
flex-wrap: wrap-reverse;
justify-content:center;

margin-top: 40px;
margin-bottom: 0px;
}


.in_town {
display: block;
border: 5px solid white;
border-radius: 20px;
height: 185px;
width: 323px;

position: relative;
box-shadow: 0px 5px 15px rgb(229, 229, 229);

margin-bottom: 15px;
margin-left: 15px;
margin-right: 15px;
}

#right_block h2{
margin-left: 20px;
margin-right: 20px;
margin-top: 25px;
margin-bottom: 30px;
}

#most_pop {
display: flex;
flex-direction: column;
flex-wrap: wrap;

justify-content: space-around;
margin-left: 0;
margin-right: 0;
margin-bottom: 20px;
}

.most_pop {
border: 5px solid white;
border-radius: 20px;
height: 130px;
width: 323px;

position: relative;
box-shadow: 0px 8px 20px lightgrey;

margin-bottom: 15px;
margin-left: auto;
margin-right: auto;
}

#activities{
max-width: 550px;
}

#act_view_all {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 20px;
}

.activities_panel {
display: block;
}

.activity {
display: block;
border-radius: 20px;
height: 195px;
width: 323px;
box-shadow: 0px 8px 20px lightgray;
margin-bottom: 15px;
margin-top: 10px;
}

.activity img {
display: block;
height: 140px;
width: 323px;
object-fit: cover;
border-radius: 20px 20px 0 0;
}


activities_panel p {
display: block;
font-family: "Raleway-Bold";
background-color: rgba(0, 0, 0, 0);
height: 40px;
border-radius: 0 0 20px 20px;
margin-top: 0;
padding-top: 20px;
padding-left: 20px;
}





}
